<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220282911599-r44injcud1vbe8cr4rr2rv4kasodr3d7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220282911599-r44injcud1vbe8cr4rr2rv4kasodr3d7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>220282911599-t1e4pbtmit73oid4dqi56ok6fttf6kv6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDKjEz4uCuu-QtHf1eTGk9lgAljJ5tjSs</string>
	<key>GCM_SENDER_ID</key>
	<string>220282911599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raises.chat</string>
	<key>PROJECT_ID</key>
	<string>raises-chat-eef8a</string>
	<key>STORAGE_BUCKET</key>
	<string>raises-chat-eef8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220282911599:ios:a2d03f298bd78b796fc69a</string>
</dict>
</plist>